# Auth
# generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# Neon Serverless Postgres
DATABASE_URL=****
POSTGRES_URL=****

# Neon Auth
NEON_AUTH_BASE_URL=****
NEON_AUTH_COOKIE_SECRET=****

# NVIDIA NIM
NVIDIA_API_KEY=****
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1

# Vercel Blob
BLOB_READ_WRITE_TOKEN=****
